@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	pre,
	code {
		font-size: 0.875rem;
	}
}

@font-face {
  font-family: 'Chinese Font';
  src: url('/fonts/fzlbgbk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.social-icons a:hover{
    transform: scale(1.1);
	transition: all 0.1s ease-in-out;
}

.cover-box img{
	object-fit: cover;
    width: 250px;
    height: 200px;
    max-width: 250px;
}

/* For specific elements */
.chinese-text {
  font-family: 'Chinese Font', sans-serif;
}

/* Or globally */
/* html {
  font-family: 'Chinese Font', system-ui, sans-serif;
} */

/* Or for just Chinese characters */
:lang(zh) {
  font-family: 'Chinese Font', sans-serif;
}



