@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
	pre,
	code {
		font-size: 0.875rem;
	}
}

.social-icons a:hover{
    transform: scale(1.2);
	transition: all 0.1s ease-in-out;
}

.cover-box img{
	object-fit: cover;
    width: 250px;
    height: 200px;
    max-width: 250px;
}