---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description=""
>
  <div class='container'>
    <div class='w-full md:flex md:items-start gap-16 mb-10'>
      <div class="text-pretty leading-9">
        <h1 class="text-3xl font-bold mb-2">About Me</h1>
        <Prose>
          <div class="text-lg">
            <p>I am a Ph.D. candidate in mathematics at the University of Minnesota, mentored by <a href="https://www-users.cse.umn.edu/~scheel/" target="_blank">Arnd Scheel</a>. I graduated from the University of California, Los Angeles with a B.S. in Mathematics.</p>
            <p>My research interests lie in the intersection of partial differential equations and dynamical systems. My current research focuses on pattern formation in reaction-diffusion systems with applications to biology.</p>
          </div>
        </Prose>
      </div>
      <div class="flex flex-col items-center shrink-0">
        <Image src={Ava} alt="Nan Li" width={270} loading="eager" class="rounded-3xl rotate-0 mx-4 md:mx-0 shadow-lg"/>
        <!-- <div class="text-center mt-3">
          <h2 class="chinese-text text-3xl">李楠</h2>
          <p class="text-zinc-600 dark:text-zinc-400 text-sm">Ph.D. Candidate</p>
        </div> -->
      </div>
    </div>     
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <h2 class="font-bold mb-3">Presentations</h2>
        <h4>Posters</h4>
        <ul class="text-sm">
          <li>
            <a href="/DS25Poster.pdf" target="_blank" class="underline">
              Anchored spirals in sharp-interface and phase oscillator models
            </a>
            <ul>
              <li>SIAM Conference on Applications of Dynamical Systems, Denver, 2025</li>
              <li>Joint Alabama-Florida Conference on Differential Equations, Dynamical Systems and Applications, Birmingham, AL, 2025</li>
            </ul>
            
          </li>
        </ul>

        <h2 class="font-bold mb-3">Teaching</h2>
        <h4>Teaching Assistant at University of Minnesota</h4>
        <ul class="text-sm">
          <li>MATH 3592H: Honors Mathematics I - F25</li>
          <li>MATH 2374: Multivariable Calculus - S25, F24</li>
          <li>MATH 2373: Linear Algebra and Differential Equations - S24, F23</li>
          <li>MATH 1031: College Algebra & Probability - S23</li>
          <li>MATH 1271: Calculus I - F22</li>
        </ul>
        <!-- <div>
          <p>
            $$
            \sum_0^\infty
            $$
          </p>
        </div> -->
        <!-- <div>
          <p class="chinese-text">我是一名数学博士生，目前在明尼苏达大学攻读博士学位，导师是Arnd Scheel教授。我毕业于加州大学洛杉矶分校，获得数学学士学位。</p>
          <p lang="zh">我的研究兴趣在于偏微分方程和动力系统的交叉领域。我的研究主要集中在反应扩散系统中的图案形成，以及其在生物学中的应用。</p>
        </div> -->
        <!-- <div style="font-family: 'Chinese Font', sans-serif;">
          这是使用内联样式的中文文本。
        </div> -->
      </article>
    </main>
  </div>
</BaseLayout>
