---
import ProjectCard from './ProjectCard.astro';
import type { Project } from '../pages/projects/projects'

const { projects } = Astro.props

---
<>
  {
    projects.map((project: Project) => (
      <div class="h-full">
        <ProjectCard project={project} />
      </div>
    ))
  }
</>
