---
import PublicationCard from './PublicationCard.astro';
import type { Publications } from '../pages/publications/publications';

const { publications } = Astro.props;
---

<>
  {
    publications.map((publication: Publications) => (
      <div class="h-full">
        <PublicationCard publication={publication} />
      </div>
    ))
  }
</>